{
  "always_show_minimap_viewport": true,
  "auto_match_enabled": false,
  "bold_folder_labels": true,
  "caret_style": "phase",
  "color_scheme": "Packages/Theme - Afterglow/Afterglow.tmTheme",
  "font_size": 12,
  "highlight_line": true,
  "folder_exclude_patterns": [".capistrano", ".git", ".sass-cache", ".travis", "log", "tmp"],
  "ignored_packages":
  [
    "Vintage"
  ],
  "margin": 1,
  "rulers":
  [
    100
  ],
  "preview_on_click": false,
  "save_on_focus_lost": false,
  "tab_size": 2,
  "tabs_small": true,
  "theme": "Afterglow-blue.sublime-theme",
  "translate_tabs_to_spaces": true,
  "trim_trailing_white_space_on_save": true
}
